$whiteColor: #fff;
$blackColor: #000;
$footerColor: #161616;
$backgroundGradientMain: linear-gradient(to right, #fa9e1b, #8d4fff);
$backgroundGradientFooterMain: linear-gradient(to right, #5a81ef, #e5854d);
$backgroundGradientSidebar: linear-gradient(-20deg, #fa9e1b, #8d4fff);
$noBackgroundGradientMain: linear-gradient(to right, #8d4fff, #fa9e1b);
$backgroundHeaderLoginColor: #350a4e;
$backgroundButtonLogin: #31124b;
$hoverBackGroundBtnLogin: rgba(105, 6, 44, 0.884);
$backgroundActiveColor: #214264;
$backgroundActiveSidebar: rgba(255, 255, 255, 0.1);
$headerDashboardBottom: #dee2e6;
